
  /*** header ***/ 
.header {
  &__top {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1440px;
    margin: auto;
    &--back {
      grid-column-start: 1;
      padding: 1.5rem;
      font-size: 1.3em;
      text-decoration: none;
      color: $text-desc;
      margin: auto;
    }
    > .logolink {
      grid-column-start: 2;
      padding: 1.5rem 0 1rem 0;
      margin: auto;
    }
  }
  &__cover {
    width: 100%;
    overflow: hidden;
    > img {
      width: 100%;
      object-fit: cover;
      max-height: 550px;
      }
    }
  }
    /*** footer ***/ 
    .footer {
      background-color: #353535;
      padding: 1.8rem 1.8rem 4rem 1.8rem;
      &__block {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1440px;
        margin: auto;
      }
      &__link {
        margin: auto;
        &--title {
          > h2 {
            padding: 1rem 0.5rem 1rem 0;
            > a {
              text-decoration: none;
              color: white;
              font-family: $font-title;
              font-weight: 100;
              font-size: 1.5em;
            }   
          }
        }
        display: flex;
        flex-direction: column;
        font-size: 1.2em;
        line-height: 2rem;
    
        > a {
          text-decoration: none;
          color: white;
          transition-duration: 0.2s;
          width: fit-content;
          > i {
            font-size: 18px;
          }
          > .fa-utensils {
            padding-right: 1rem;
          }
          > .fa-hands-helping {
            padding-right: 0.55rem;
          }
          &:hover {
            color: $color-primary;
            transition-duration: 0.2s;
          }
        }
      }
    }
  