@charset "UTF-8";
@-webkit-keyframes display {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}
@keyframes display {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes padding-heart {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes padding-heart {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@-webkit-keyframes loading-spinner {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes loading-spinner {
  0% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@-webkit-keyframes time-animation {
  0% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.8);
  }
  3% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 0%;
    height: 0%;
    z-index: 0;
  }
}

@keyframes time-animation {
  0% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.8);
  }
  3% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 0%;
    height: 0%;
    z-index: 0;
  }
}

/* Le trait vert sous Entrées, Plats, Desserts des pages restaurants */
/* Pour mobiles */
footer {
  color: white;
  background-color: #3b3a3a;
  height: 230px;
}

footer ul {
  list-style: none;
  padding-left: 80px;
  margin-top: 0px;
}

footer li {
  margin-bottom: 10px;
}

footer h2 {
  font-family: shrikhand;
  font-size: 1.5em;
  display: inline-block;
  margin: 20px 0px 15px 0px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer .fa-utensils {
  margin-right: 17px;
  color: white;
}

footer .fa-hands-helping {
  margin-right: 10px;
  color: white;
}

/* VERSION ACCUEIL */
header h1 {
  color: black;
  text-align: center;
  font-size: 2.5em;
  margin: 20px 0px 10px 0px;
}

header a:link {
  text-decoration: none;
}

/* VERSION RESTAURANT */
/* Pour mobiles */
body {
  margin: 0px;
}

#header-menu h1 {
  color: black;
  text-align: center;
  font-size: 2.5em;
  margin: 20px 0px 10px 0px;
}

#header-menu a:link {
  text-decoration: none;
}

#header-menu .fa-arrow-left {
  color: #3b3a3a;
  font-size: 1.4em;
  position: absolute;
  left: 20px;
  top: 37px;
}

/* Pour desktop */
@media screen and (min-width: 992px) {
  #header-menu .fa-arrow-left {
    padding: 0px 0px 0px 75px;
  }
}

/* Pour mobiles */
#localization {
  text-align: center;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#e7e6e6));
  background: linear-gradient(white, #e7e6e6);
}

#localization form {
  background-color: #F2F2F2;
  -webkit-box-shadow: 0px 15px 8px -10px #c9c7c7 inset;
          box-shadow: 0px 15px 8px -10px #c9c7c7 inset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0px;
}

#localization form #search {
  background-color: transparent;
  border: none;
}

#localization form #search::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
}

#localization form #search:-ms-input-placeholder {
  color: black;
  font-weight: bold;
}

#localization form #search::-ms-input-placeholder {
  color: black;
  font-weight: bold;
}

#localization form #search::placeholder {
  color: black;
  font-weight: bold;
}

#localization h2, #localization p {
  text-align: center;
}

#localization h2 {
  margin: 40px 50px 0px 50px;
}

#localization p {
  margin: 20px 30px 30px 30px;
  color: gray;
  font-weight: 100;
}

#localization #button_restaurant {
  display: inline-block;
  margin-bottom: 50px;
}

/* Version Mobile */
@media screen and (max-width: 767px) {
  body {
    margin: 0px;
  }
}

/* Version desktop */
@media screen and (max-width: 1024px) {
  body {
    max-width: 1450px;
  }
}

body {
  font-family: Roboto, sans-serif;
}

body header h1 {
  font-family: shrikhand;
}

body .main-menu h2 {
  font-family: shrikhand;
}

.button-gradient {
  text-decoration: none;
  border-radius: 30px;
  padding: 15px 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 1em;
  -webkit-box-shadow: 0px 4px 8px 3px #c9c7c7;
          box-shadow: 0px 4px 8px 3px #c9c7c7;
}

.button-gradient:hover {
  -webkit-box-shadow: 0px 4px 8px 3px #525050;
          box-shadow: 0px 4px 8px 3px #525050;
}

#loading-spinner {
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  -webkit-animation-name: time-animation;
          animation-name: time-animation;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  top: 0;
  bottom: 0;
}

#loading-spinner .loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#loading-spinner .loader .load {
  background-color: #9356DC;
  width: 15px;
  height: 100px;
  margin-left: 20px;
  -webkit-animation-name: loading-spinner;
          animation-name: loading-spinner;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 166ms;
          animation-delay: 166ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-iteration-count: 7;
          animation-iteration-count: 7;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#loading-spinner .loader .load__primary2 {
  -webkit-animation-delay: 333ms;
          animation-delay: 333ms;
}

#loading-spinner .loader .load__secondary {
  background-color: #FF79DA;
  -webkit-animation-delay: 499ms;
          animation-delay: 499ms;
}

#loading-spinner .loader .load__secondary2 {
  background-color: #FF79DA;
  -webkit-animation-delay: 666ms;
          animation-delay: 666ms;
}

#loading-spinner .loader .load__tertiary {
  background-color: #99E2D0;
  -webkit-animation-delay: 832ms;
          animation-delay: 832ms;
}

#loading-spinner .loader .load__tertiary2 {
  background-color: #99E2D0;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

/* Pour mobiles */
#company-presentation {
  padding: 20px 0px;
}

#company-presentation h2 {
  margin-left: 20px;
}

#company-presentation ol {
  counter-reset: number-operation;
  list-style: none;
  padding-left: 0px;
}

#company-presentation ol li {
  counter-increment: number-operation;
  position: relative;
}

#company-presentation ol li a {
  text-decoration: none;
  color: black;
}

#company-presentation ol li a .operation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin: 30px;
  padding: 10px;
}

#company-presentation ol li a .operation-list i {
  margin-left: 40px;
}

#company-presentation ol li a .operation-list p {
  margin-left: 30px;
  font-weight: bold;
}

#company-presentation ol li a .operation-list:hover {
  background-color: #efe5fa;
}

#company-presentation ol li a i:hover {
  color: #9356DC;
}

#company-presentation ol li::before {
  content: counter(number-operation);
  background-color: #9356DC;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  position: absolute;
  left: 15px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Pour desktop */
@media screen and (min-width: 992px) {
  #bloc-page {
    max-width: 1450px;
  }
  #bloc-page #company-presentation {
    margin: 0px 60px;
  }
  #bloc-page #company-presentation .operation-list {
    margin-left: 0px;
    margin-right: 0px;
  }
  #bloc-page #company-presentation ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #bloc-page #company-presentation ol li::before {
    left: -15px;
    top: 50px;
  }
  #bloc-page #company-presentation ol li {
    width: 30%;
  }
}

/* Pour desktop grand format */
@media screen and (min-width: 1450px) {
  #bloc-page {
    margin: auto;
  }
}

/* Pour mobiles */
.main-menu img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 272px;
  width: 100%;
}

.main-menu .menu {
  background-color: #f7f7f7;
  border-radius: 50px 50px 0px 0px;
  margin-top: -60px;
  position: relative;
}

.main-menu .menu .title-heart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-menu .menu .title-heart h2 {
  font-size: 2em;
  margin: 10px 0px 0px 0px;
  padding: 40px 0px 0px 25px;
}

.main-menu .menu .title-heart .hearts {
  position: relative;
  margin-top: 55px;
  margin-left: auto;
  margin-right: 30px;
}

.main-menu .menu .title-heart .heart1 {
  color: black;
}

.main-menu .menu .title-heart .heart2 {
  opacity: 0;
  position: absolute;
  bottom: 10px;
}

.main-menu .menu .title-heart .heart2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 16px;
  opacity: 0;
  -webkit-animation-name: padding-heart;
          animation-name: padding-heart;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.main-menu .menu h3 {
  font-weight: 300;
  padding: 0px 0px 8px 25px;
  position: relative;
  margin-top: 40px;
}

.main-menu .menu h3::before {
  position: absolute;
  top: 30px;
  width: 45px;
  height: 3px;
  background-color: #99E2D0;
  content: "";
}

.main-menu .menu #button-order {
  width: 40%;
  height: 20px;
  text-align: center;
}

.main-menu .menu .button-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0px 80px 0px;
}

/* Pour desktop */
@media screen and (min-width: 992px) {
  .main-menu .menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
    -ms-grid-rows: 100px 1fr 200px;
        grid-template-rows: 100px 1fr 200px;
    margin: -80px 0px 0px 0px;
  }
  .main-menu .menu .flat {
    opacity: 0;
  }
  .main-menu .menu .title-heart {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .main-menu .menu .title-heart .heart2 {
    bottom: 13px;
  }
  .main-menu .menu .entrees {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .main-menu .menu .plats {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .main-menu .menu .desserts {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .main-menu .menu .button-order {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .main-menu img {
    height: 500px;
  }
}

/* Pour les cartes restaurants de la page d'accueil */
/* Pour mobiles */
.restaurants article {
  position: relative;
  background-color: white;
  margin: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 4px 8px 3px #c9c7c7;
          box-shadow: 0px 4px 8px 3px #c9c7c7;
}

.restaurants article img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 160px;
}

.restaurants article h3 {
  margin: 19px 70px 0px 15px;
}

.restaurants article p {
  margin: 8px 0px 0px 15px;
  padding-bottom: 20px;
}

.restaurants article .heart1 {
  color: black;
  font-size: 15px;
  bottom: 0px;
  position: absolute;
  right: 31px;
  bottom: 31px;
}

.restaurants article .heart2 {
  opacity: 0;
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.restaurants article .heart2:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 16px;
  opacity: 0;
  -webkit-animation-name: padding-heart;
          animation-name: padding-heart;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.restaurants article span {
  background-color: #99E2D0;
  color: #1f866c;
  padding: 8px 15px;
  position: absolute;
  right: 15px;
  top: 15px;
  border-radius: 5px;
}

/* Pour les cartes restaurants de la page d'accueil */
/* Pour desktop */
@media screen and (min-width: 992px) {
  .restaurants a {
    margin: 40px;
  }
  .restaurants a article {
    margin: 0px;
  }
}

/*TABLETTES*/
@media screen and (min-width: 767px) {
  .restaurants {
    margin: -20px 0px 0px 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 100px 1fr 1fr;
        grid-template-rows: 100px 1fr 1fr;
    border-radius: 30px 30px 0px 0px;
  }
  .restaurants h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .restaurants .la-palette-du-gout {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .restaurants .la-note-enchantee {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .restaurants .a-la-francaise {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .restaurants .le-delice-des-sens {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
}

/* Pour les cartes plat des pages restaurant */
.flat {
  background-color: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 8px 20px 0px #c9c7c7;
          box-shadow: 0px 8px 20px 0px #c9c7c7;
  margin: 0px 15px 15px 15px;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: display;
          animation-name: display;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.flat__delay-starter-2 {
  -webkit-animation-delay: 322ms;
          animation-delay: 322ms;
}

.flat__delay-starter-3 {
  -webkit-animation-delay: 644ms;
          animation-delay: 644ms;
}

.flat__delay-starter-4 {
  -webkit-animation-delay: 966ms;
          animation-delay: 966ms;
}

.flat__delay-flat-1 {
  -webkit-animation-delay: 966ms;
          animation-delay: 966ms;
}

.flat__delay-flat-2 {
  -webkit-animation-delay: 1288ms;
          animation-delay: 1288ms;
}

.flat__delay-flat-3 {
  -webkit-animation-delay: 1610ms;
          animation-delay: 1610ms;
}

.flat__delay-dessert-1 {
  -webkit-animation-delay: 1932ms;
          animation-delay: 1932ms;
}

.flat__delay-dessert-2 {
  -webkit-animation-delay: 2254ms;
          animation-delay: 2254ms;
}

.flat__delay-dessert-3 {
  -webkit-animation-delay: 2576ms;
          animation-delay: 2576ms;
}

.flat .left {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flat .left h4 {
  font-size: 1.2em;
  margin: 0px 0px 5px 20px;
  padding-top: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flat .left p {
  margin: 0px 0px 0px 20px;
  padding-bottom: 20px;
  font-size: 0.95em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.flat span {
  font-weight: bold;
  padding: 25px 20px 0px 10px;
}

.flat .plus {
  margin-right: -35px;
  color: white;
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  overflow: hidden;
  /* transition: <property> <duration> <timing-function> */
  -webkit-transition: padding 500ms ease-in;
  transition: padding 500ms ease-in;
  text-decoration: none;
}

.flat:hover .plus {
  padding: 0 55px 0 20px;
}

.flat:hover .plus i {
  /* animation: <name> <duration> */
  -webkit-animation: rotate 1s;
          animation: rotate 1s;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

/* Pour mobiles */
.restaurants {
  background-color: #F2F2F2;
  padding-bottom: 40px;
}

.restaurants a:link {
  text-decoration: none;
  color: black;
}

.restaurants a:visited {
  color: black;
}

.restaurants h2 {
  display: inline-block;
  margin: 50px 0px 10px 23px;
}

/* Pour desktop */
@media screen and (min-width: 992px) {
  .restaurants {
    margin: -20px 0px 0px 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 100px 1fr 1fr;
        grid-template-rows: 100px 1fr 1fr;
    border-radius: 30px 30px 0px 0px;
  }
  .restaurants h2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .restaurants .la-palette-du-gout {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .restaurants .la-note-enchantee {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .restaurants .a-la-francaise {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
  .restaurants .le-delice-des-sens {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 3;
        grid-row-start: 3;
  }
}
/*# sourceMappingURL=main.css.map */