.header {
  &__top {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1440px;
    margin: auto;
    &--back {
      grid-column-start: 1;
      padding: 1.5rem;
      font-size: 1.3em;
      text-decoration: none;
      color: $text-desc;
      margin: auto;
    }
    > .logolink {
      grid-column-start: 2;
      padding: 1.5rem 0 1rem 0;
      margin: auto;
    }
  }
  &__cover {
    width: 100%;
    overflow: hidden;
    > img {
      width: 100%;
      object-fit: cover;
      max-height: 550px;
      transition-duration: 0.4s;
      @media screen and (max-width: 400px) {
        transition-duration: 0.4s;
        transform: scale(1.1);
      }
    }
  }
}