/* Le trait vert sous Entrées, Plats, Desserts des pages restaurants */
@mixin underline-green 
{
    position: absolute;
    top: 30px;
    width: 45px;
    height: 3px;
    background-color: $tertiary-color;
    content: "";
}



@mixin animation-heart 
{
    background: $linear-gradient;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    animation-name: padding-heart;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
}