.button-gradient
{
    text-decoration: none;
    border-radius: 30px;
    padding: 15px 20px;
    background: $linear-gradient;
    color: white;
    font-size: 1em;
    box-shadow: 0px 4px 8px 3px #c9c7c7;

    &:hover
    {
        
        box-shadow: 0px 4px 8px 3px #525050;
      
    }
}

#loading-spinner
{
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    animation-name: time-animation;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: both;
    top: 0;
    bottom: 0;

    .loader
    {
        display: flex;

        .load
        {
            background-color: $primary-color;
            width: 15px;
            height: 100px;
            margin-left: 20px;
            animation-name: loading-spinner;
            animation-duration: 1s;
            animation-delay: 166ms;
            animation-fill-mode: backwards;
            animation-iteration-count: 7;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;

            &__primary2
            {
                animation-delay: 333ms;
            }

            &__secondary
            {
                background-color: $secondary-color;
                animation-delay: 499ms;
            }

            &__secondary2
            {
                background-color: $secondary-color;
                animation-delay: 666ms;
            }

            &__tertiary
            {
                background-color: $tertiary-color;
                animation-delay: 832ms;
            }

            &__tertiary2
            {
                background-color: $tertiary-color;
                animation-delay: 1000ms;
            }
        }
    }
}
/* Pour mobiles */
#company-presentation
{
    padding: 20px 0px;

    h2 
    {
        margin-left: 20px;
    }

    ol 
    {
        counter-reset: number-operation;
        list-style: none;
        padding-left: 0px;

        li 
        {
            counter-increment: number-operation;
            position: relative;

            a 
            {
                text-decoration: none;
                color: black;

                .operation-list
                {
                    display: flex;
                    align-items: baseline;
                    align-content: space-between;
                    background-color: #F2F2F2;
                    border-radius: 15px;
                    margin: 30px;
                    padding: 10px;

                    i 
                    {
                        margin-left: 40px;
                    }

                    p 
                    {
                        margin-left: 30px;
                        font-weight: bold;
                    }
                }

                .operation-list:hover
                {
                    background-color: #efe5fa; 
                }

                i:hover 
                {
                    color: $primary-color;
                }
            }
        }

        li::before
        {
            content: counter(number-operation);
            background-color: $primary-color;
            color: white;
            width: 30px;
            height: 30px;
            border-radius: 30px;
            position: absolute;
            left: 15px;
            top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}








/* Pour desktop */
@media screen and (min-width: 992px) 
{
    #bloc-page
    {
        max-width: 1450px;

        #company-presentation
        {
            margin: 0px 60px;
        
            .operation-list
            {
                margin-left: 0px;
                margin-right: 0px;
            }

            ol 
            {
                display: flex;
                justify-content: space-between;

                li::before
                {
                    left: -15px;
                    top: 50px;
                }

                li 
                {
                    width: 30%;
                }
            }
        }
    }
}





/* Pour desktop grand format */
@media screen and (min-width: 1450px)
{
    #bloc-page
    {
        margin: auto;
    }
}

/* Pour mobiles */
.main-menu
{
    img
    {
        object-fit: cover;
        height: 272px;
        width: 100%;
    }

    .menu 
    {
        background-color: #f7f7f7;
        border-radius: 50px 50px 0px 0px;
        margin-top: -60px;
        position: relative;

        .title-heart
        {
            display: flex;

            h2 
            {
                font-size: 2em;
                margin: 10px 0px 0px 0px;
                padding: 40px 0px 0px 25px;
            }

            .hearts
            {
                position: relative;
                margin-top: 55px;
                margin-left: auto;
                margin-right: 30px;
            }

            .heart1
            {
                color: black;
            }

            .heart2
            {
                opacity: 0;
                position: absolute;
                bottom: 10px; 

                &:hover
                {
                    @include animation-heart;
                }
            }
        }

        h3 
        {
            font-weight: 300;
            padding: 0px 0px 8px 25px;
            position: relative;
            margin-top: 40px;
        }

        h3::before
        {
            @include underline-green;
        }

        #button-order
        {
            width: 40%;
            height: 20px;
            text-align: center;
        }

        .button-order
        {
            display: flex;
            justify-content: center;
            padding: 40px 0px 80px 0px;
        }
    }
}










/* Pour desktop */
@media screen and (min-width: 992px) 
{
    .main-menu 
    {
        .menu 
        {
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 100px 1fr 200px;
           margin : -80px 0px 0px 0px;

            .flat
            {
                opacity: 0;
            }

            .title-heart 
            {
                grid-column: 1/4;
                grid-row-start: 1;

                .heart2
                {
                    bottom: 13px;
                }
            }

            .entrees
            {
                grid-column-start: 1;
                grid-row-start: 2;
            }

            .plats
            {
                grid-column-start: 2;
                grid-row-start: 2;
            }

            .desserts
            {
                grid-column-start: 3;
                grid-row-start: 2;
            }

            .button-order
            {
                grid-column-start: 2;
                grid-row-start: 3;
            }
        }

        img 
        {
            height: 500px;
        }
    }
}