/* Pour les cartes restaurants de la page d'accueil */
/* Pour mobiles */
.restaurants
{
    article
    {
        position: relative;
        background-color: white;
        margin: 20px;
        border-radius: 20px;
        box-shadow: 0px 4px 8px 3px #c9c7c7;

        img
        {
            object-fit: cover;
            border-radius: 20px 20px 0px 0px;
            width: 100%;
            height: 160px;
        }

        h3
        {
            margin: 19px 70px 0px 15px;
        }

        p
        {
            margin: 8px 0px 0px 15px;
            padding-bottom: 20px;
        }

        .heart1
        {
            color: black;
            font-size: 15px;
            bottom: 0px;
            position: absolute;
            right: 31px;
            bottom: 31px;
        }

        .heart2
        {
            opacity: 0;
            position: absolute;
            right: 30px;
            bottom: 30px;

            &:hover
            {
                @include animation-heart;
            }
        }
            
        span
        {
            background-color: $tertiary-color;
            color: #1f866c;
            padding: 8px 15px;
            position: absolute;
            right: 15px;
            top: 15px;
            border-radius: 5px;
        }
    }
}





/* Pour les cartes restaurants de la page d'accueil */
/* Pour tablettes */
@media screen and (min-width: 767px) and (max-width: 992px)
{
    .restaurants
    {
        article
        {
            margin: 60px 25px;
        }
    }
}





/* Pour les cartes restaurants de la page d'accueil */
/* Pour desktop */
@media screen and (min-width: 992px) 
{
    .restaurants
    {
        a
        {
            margin: 40px;

            article 
            {
                margin: 0px;
            }
        }
    }
}










/* Pour les cartes plat des pages restaurant */
.flat
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 8px 20px 0px #c9c7c7;
    margin: 0px 15px 15px 15px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    animation-name: display;
    animation-duration: 1s;
    animation-delay: 100ms;
    animation-fill-mode: both;

    &__delay-starter-2
    {
        animation-delay: 322ms;
    }

    &__delay-starter-3
    {
        animation-delay: 644ms;
    }

    &__delay-starter-4
    {
        animation-delay: 966ms;
    }

    &__delay-flat-1
    {
        animation-delay: 966ms;
    }

    &__delay-flat-2
    {
        animation-delay: 1288ms;
    }

    &__delay-flat-3
    {
        animation-delay: 1610ms;
    }

    &__delay-dessert-1
    {
        animation-delay: 1932ms;
    }

    &__delay-dessert-2
    {
        animation-delay: 2254ms;
    }

    &__delay-dessert-3
    {
        animation-delay: 2576ms;
    }

    .left
    {
        flex-grow: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

        h4 
        {
            font-size: 1.2em;
            margin: 0px 0px 5px 20px;
            padding-top: 15px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        p 
        {
            margin: 0px 0px 0px 20px;
            padding-bottom: 20px;
            font-size: 0.95em;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    span 
    {
        font-weight: bold;
        padding: 25px 20px 0px 10px;
    }

    .plus
    {
        margin-right: -35px;
        color: white;
        background-color: $tertiary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: stretch;
        overflow: hidden;
        /* transition: <property> <duration> <timing-function> */
        transition: padding 500ms ease-in;
        text-decoration: none;
    }

    &:hover
    {
        .plus
        {
            padding: 0 55px 0 20px;

            i 
            {
                /* animation: <name> <duration> */
                animation: rotate 1s;
                animation-delay: 400ms;
            }
        }
    }
}
/* Pour mobiles */
.restaurants
{
    background-color: #F2F2F2;
    padding-bottom: 40px;

    a:link
    {
        text-decoration: none;
        color: black;
    }

    a:visited
    {
        color: black; 
    }

    h2
    {
        display: inline-block;
        margin: 50px 0px 10px 23px;
    }
}








/* Pour desktop */
@media screen and (min-width: 992px) 
{
    .restaurants
    {
        margin: -20px 0px 0px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr 1fr;
        border-radius: 30px 30px 0px 0px;

        h2 
        {
            grid-column: 1/3;
            grid-row-start: 1;
        }

        .la-palette-du-gout
        {
            grid-column-start: 1;
            grid-row-start: 2;
        }

        .la-note-enchantee
        {
            grid-column-start: 2;
            grid-row-start: 2;
        }

        .a-la-francaise
        {
            grid-column-start: 1;
            grid-row-start: 3;
        }

        .le-delice-des-sens
        {
            grid-column-start: 2;
            grid-row-start: 3;
        }
    }
}